:root {
  color: #fff;
  --primary-color: #FB6C16;
  --secondary-color: #B7D8E1;
  --acent-color: #5BC54B;
  --darker-color: #57709C;
}

body {
  margin: 0;
  padding: 0;
  background: var(--secondary-color);
}

h1 {
  font-family: 'Sixtyfour', sans-serif;
  font-size: 5rem;
  font-weight: 400;
  text-align: center;
  text-shadow: 0.125rem 0.125rem 0 var(--acent-color), 0.125em 0.125em 0 var(--acent-color);
  color: var(--primary-color);
}

.info-wrapper {
  margin: 0 auto;
  width: 40%;
}