:root {
  color: #fff;
  --primary-color: #FB6C16;
  --secondary-color: #B7D8E1;
  --accent-color: #5BC54B;
  --hover-color: #1B835D;
  --darker-color: #57709C;
}

body {
  margin: 0;
  padding: 0;
  background: var(--secondary-color);
  overflow-x: hidden;
  display: flex;
  justify-content: center;
}

.info-wrapper {
  margin: 0 auto;
  width: 40vw;
}